@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
	font-family: "Nunito Sans", sans-serif;
}

.page-a4 {
  width: 210mm;
  height: 297mm;
  margin: auto;
  padding: 0;
  background: white;
  border: 1px solid chocolate;
  position: relative;
}

header{
	width: 100%;
	height: auto;

	display: flex;
	justify-content: space-between;
}

header .header__title{
	width: 95%;
	background: #9f5514;
	color: rgb(255, 255, 255, 0.8);
	padding: 10px;
}

header .header__title h1, header .header__title p{
	padding: 0;
	margin: 0;
}

header .header__title h1{
	font-size: 2.5em;
}

header .header__title p{
	margin-left: 10px;
}

header .header__validity{
	width: 30%;
	padding-top: 5px;
	padding-right: 15px;
	position: relative;
}

section table tbody tr td{
	/*border: 1px solid red;*/
}

section table tbody tr td:first-child{
	width: 170px;
}